[package]
authors = ["Sean Bowe <ewillbefull@gmail.com>"]
description = "zk-SNARK library"
documentation = "https://github.com/ebfull/bellman"
homepage = "https://github.com/ebfull/bellman"
license = "MIT"
name = "bellman"
repository = "https://github.com/ebfull/bellman"
version = "0.0.1"

[dependencies.tinysnark]
path = "tinysnark"
version = "0.0.1"
